.example-container th {
    background-color: blueviolet;
    color: white;
    vertical-align: middle;
}

td {
    padding: 10px;
}

table {
    width: 100%;
}

.example-container table {
    overflow-x: scroll
}

.table-wrapper-scroll-y {
    display: block;
}

// table row hover effect 
tr:hover {
    background-color: #b3f0ff;
}