<!-- reactive-driven-form 

run db command  json-server --watch db.json -->

<form [formGroup]="addUserDetails">
    <div class="row" style="margin: 10px;">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Age</label>
                <input type="number" class="form-control" formControlName="age" placeholder="Enter Age">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Phone Number</label>
                <input type="number" class="form-control" formControlName="phonenumber" placeholder="Enter Phone Number">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" formControlName="gmail" placeholder="Enter email">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 5px;margin:-5px;">
            <button type="submit" class="btn btn-secondary" (click)="updateUser()" style="float: right;">Update</button>
            <button type="submit" class="btn btn-primary" (click)="adduser()" style="float: right;margin-right: 10px;">Submit</button>
        </div>
    </div>
</form>

<!-- templative-driven-form  

<form #myForm="ngForm">
    <div class="row" style="margin: 10px;">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter name" >
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Age</label>
                <input type="number" class="form-control" name="age" placeholder="Enter Age" 
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Phone Number</label>
                <input type="number" class="form-control" name="phonenumber" placeholder="Enter Phone Number" number">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="gmail" placeholder="Enter email" ">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 5px;margin:-5px;">
            <button type="submit" class="btn btn-secondary" (click)="updateUser()" style="float: right;">Update</button>
            <button type="submit" class="btn btn-primary" (click)="adduser(myForm.value)" style="float: right;margin-right: 10px;">Submit</button>
        </div>
    </div>
</form> -->



<div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
        <div class="example-container">
            <table>
                <th>Name</th>
                <th>Age</th>
                <th>Phone Number</th>
                <th>Gmail</th>
                <th></th>
                <th></th>
                <tbody>
                    <tr *ngFor="let data of getUserData">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.phonenumber}}</td>
                        <td>{{data.gmail}}</td>
                        <td><button class="btn btn-warning" (click)="edituser(data)">Edit</button></td>
                        <td><button class="btn btn-danger" (click)="deleteuser(data)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>