.sidewidth {
    width: 230px;
    background-color: #E6E6FA;
}

.dashboard_header {
    font-size: 22px;
    color: white;
    line-height: 65px;
    text-align: center;
    background: #4fd1f1;
    letter-spacing: normal;
    margin: 0px 0 -9px
}

// .line{
//   border: 0.5px solid black;
// }
// .headerFix{
//   position: sticky;
//    top:0;
// }
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-spacer {
    flex: 1 1 auto;
}